@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #defaf5;
  --background-inverse: #000000;
  --stroke-color: #3315c7ea;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;

  --border: 240 5.9% 90%;

  --font-sans: 'Open Sans', sans-serif;
  --font-code: 'Fira Code', monospace;
}

.dark {
  --background: #010906;
  --background-inverse: #eeeeee;
  --stroke-color: #ffffff19;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --border: 240 3.7% 15.9%;
}

body {
  position: relative;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s ease, color 0.3s ease;
}
