@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #defaf5;
  --background-inverse: #000000;
  --stroke-color: #201e282f;
  --text-color: #213537;
  --section-title: #2c4d4f;
  --glass-bg: #79869270;
  --badge-border: #181818;

  --font-sans: "Open Sans", sans-serif;
  --font-code: "Fira Code", monospace;
}

.dark {
  --background: #010906;
  --background-inverse: #eeeeee;
  --stroke-color: #ffffff25;
  --text-color: #9dbfb9;
  --section-title: #74e7ed;
  --glass-bg: #030f1a70;
  --badge-border: #a0a7ac;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s ease, color 0.3s ease;
}
